/*head*/
body {
    background-color: rgb(250,250,250);
}

.nav-style {
    background-color: rgb(255,127,0);
    height:60px;
    
}
.nav-style a {
    color: white;
    font-size: 13px;
    line-height: 60px;
    text-transform:uppercase;
}
.nav-link:focus {
    outline: none;
}
/*placeAnOffer*/

h3 {
    color:#989898;
    font-size:18px;
    line-height:27px;
    border-bottom: solid 1px rgba(86,86,86, 0.3);
    padding:10px;
}
.form-block {
    margin-top:40px;
    border: solid 1px rgba(86,86,86, 0.3);
    background-color: white;
}
.form-block >header {
    background-color:#666666;
    
}

.form-block  h2 {
    color:#ffffff;
    font-size:14px;
    line-height:21px;
    padding:10px;
}

.form-block h4 {
    font-size:16px;
    line-height:30px;
    padding:5px;
}
.form-block button {
    margin-top:15px;
    width:200px;
    color:white;
    background-color: #387CDA;
    border-radius:10px;
    padding:10px;
}

.form-block input
.form-block textarea {
    border-radius:5px;
}

.form-group {
    width: 50%;
    margin-left:10px;
    
}

.legalText {
    padding:0 15px;
    background-color:#FFF0BC;
    width:50%;
}
.allOffers {
    margin-top:20px;
}
.adContainer {
    padding: 10px;
    border: solid 1px rgba(86,86,86, 0.3);
    margin-bottom:20px;
}
.adImg {
    width: 200px;
}
.adImg img {
    width: 100%;
}
.adText {
    flex: 1;
    padding-left:25px;
}

.adText h5 {
    color: #306DC0;
}

.adCity {
    padding-top:30px;
}

.adPrice {
    padding-top:30px;
    color:rgb(255,127,0);
    font-weight:bold;
}
a.no-decoration {
    text-decoration: none;
}
/*offre*/

.adImg-1{
    width:100%;
    height: 500px;
}
.adImg-1 img {
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.adContainer-1 {
    padding: 10px;
    border: solid 1px rgba(86,86,86, 0.3);

}
.offer-title {
    font-size:18px;
    font-weight:bold;
    line-height:27px;
    padding:5px;
}

.nickName-1 {
    text-transform:uppercase;
}
.offer-price {
    padding:5px;
    color:rgb(255,127,0);
    font-weight:bold;
}
.edit {
    padding:10px;
    width:100px;
    background-color:#387CDA;
    border-radius:5px;
    text-decoration:none;
    color:#ffffff;
}

h6 {
    font-size:16px;
    font-weight:bold;
    line-height:24px;
    padding-top:10px;
}
.description-lign {
    border-top: solid 1px rgba(86,86,86, 0.3);
}

.block-2 {
    padding-left:22px;
    height:200px;
    background-color: white;
}

.nickName-2 {
    text-align: center;
}

.showNumber,
.number,
#email {
    margin:10px 0;
    width: 100%;
    border-radius:5px;
    padding:10px;
    cursor: pointer;
}

.showNumber,
#email {
    color:white;
    border: none;
}

.showNumber {
    background-color: rgb(255,127,0);
}

.number {
    background-color:white;
    color: rgb(255,127,0);
    border: solid 1px rgb(255,127,0);
}

.number:hover {
    background-color: rgba(255,127,0, 0.1);
}

#email {
    background-color: #387CDA;
    
}

/* login */

.form-login input {
    width:100%;
    margin:auto;
    border-radius:3px;

}

.btn-login{
    width:100%;
    background-color:#387CDA;
    color:white;
    margin-top:10px;
}
