/*head*/
body {
    background-color: rgb(250,250,250);
}

.nav-style {
    background-color: rgb(255,127,0);
    height:60px;
    
}
.nav-style a {
    color: white;
    font-size: 13px;
    line-height: 60px;
    text-transform:uppercase;
}
/*placeAnOffer*/

h3 {
    color:#989898;
    font-size:18px;
    line-height:27px;
    border-bottom: solid 1px rgba(86,86,86, 0.3);
    padding:10px;
}
.form-block {
    margin-top:40px;
    border: solid 1px rgba(86,86,86, 0.3);
    background-color: white;
}
.form-block >header {
    background-color:#666666;
    
}

.form-block  h2 {
    color:#ffffff;
    font-size:14px;
    line-height:21px;
    padding:10px;
}

.form-block h4 {
    font-size:16px;
    line-height:30px;
    padding:5px;
}
.form-block button {
    margin-top:15px;
    width:200px;
    color:white;
    background-color: #387CDA;
    border-radius:10px;
    padding:10px;
}

.form-block input
.form-block textarea {
    border-radius:5px;
}

.form-group {
    width: 50%;
    margin-left:10px;
    
}

.allOffers {
    margin-top:20px;
}
.adContainer {
    padding: 10px;
    border: solid 1px rgba(86,86,86, 0.3);
    margin-bottom:20px;
}
.adImg {
    width: 200px;
}
.adImg img {
    width: 100%;
}
.adText {
    flex: 1;
    padding-left:25px;
}

.adText h5 {
    color: #306DC0;
}

.adCity {
    padding-top:30px;
}

.adPrice {
    padding-top:30px;
    color:rgb(255,127,0);
    font-weight:bold;
}